/* animation */

.animation-ready.animation {
    animation-duration: 0.9s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    transition: 0.6s;
}
.animation-ready.animation.animation-fast{
    animation-duration: 1.4s;
}
.animation-ready.animation.animation-slow{
    animation-duration: 1.6s;
}
.animation-ready.fromBottom {
    animation-name: fromBottom;
    animation-direction: normal;
}

.fromBottom {
    transform: translateY(40px);
    opacity: 0;
}

@keyframes fromBottom {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.animation-ready.fromRight {
    animation-name: fromRight;
}

.fromRight {
    transform: translateX(40px);
    opacity: 0;
}

.animation-ready.scaleIt {
    animation-name: scaleIt;
}

.scaleIt {
    transform: scale(0.5);
    opacity: 0;
}

@keyframes scaleIt {
    from {
        transform: scale(0.5);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes fromLeft {
    from {
        opacity: 0;
        transform: translateX(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.animation-ready.fromLeft {
    animation-name: fromLeft;
}

.fromRight {
    transform: translateX(-40px);
    opacity: 0;
}

@keyframes fromRight {
    from {
        opacity: 0;
        transform: translateX(-80px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.closep {
    font-size: 0;
    display: none;
}

.delay-1 {
    animation-delay: 0.1s !important;
}
.delay-2 {
    animation-delay: 0.2s !important;
}
.delay-3 {
    animation-delay: 0.3s !important;
}
.delay-4 {
    animation-delay: 0.4s !important;
}
.delay-5 {
    animation-delay: 0.5s !important;
}
.delay-6 {
    animation-delay: 0.6s !important;
}
.delay-7 {
    animation-delay: 0.7s !important;
}