body {
    color: #444;
    font-family: 'Cairo', sans-serif;
}

img {
    max-width: 100%;
}

/* colors */
.orange,
.page-link,
.page-link:hover {
    color: #fe5e4e;
}

.gray {
    color: #343434;
}

.white {
    color: #fff;
}

.semi-white {
    color: rgba(255, 255, 255, 0.5);
}

.orange-bg {
    background-color: #fe5e4e;
}

.gray-bg {
    background-color: #343434;
}

.white-bg {
    background-color: #fff;
}

.btn-white {
    color: #fe5e4e !important;
    background-color: #fff !important;
}

.btn-orange,
.page-item.active .page-link {
    background-color: #fe5e4e !important;
    color: #fff !important;
    border-color: #fe5e4e;
}

.btn {
    transition: 0.3s;
}

.btn:hover {
    transform: scale(1.1);
}

a,
a:hover,
a:focus {
    color: inherit;
}

.mb-0 {
    margin-bottom: 0rem;
}

.mt-0 {
    margin-top: 0rem;
}

.ml-0 {
    margin-right: 0rem;
}

.mr-0 {
    margin-left: 0rem;
}

.pb-0 {
    padding-bottom: 0rem;
}

.pt-0 {
    padding-top: 0rem;
}

.pl-0 {
    padding-right: 0rem;
}

.pr-0 {
    padding-left: 0rem;
}

.mb-1 {
    margin-bottom: 0.3125rem;
}

.mt-1 {
    margin-top: 0.3125rem;
}

.ml-1 {
    margin-right: 0.3125rem;
}

.mr-1 {
    margin-left: 0.3125rem;
}

.pb-1 {
    padding-bottom: 0.3125rem;
}

.pt-1 {
    padding-top: 0.3125rem;
}

.pl-1 {
    padding-right: 0.3125rem;
}

.pr-1 {
    padding-left: 0.3125rem;
}

.mb-2 {
    margin-bottom: 0.625rem;
}

.mt-2 {
    margin-top: 0.625rem;
}

.ml-2 {
    margin-right: 0.625rem;
}

.mr-2 {
    margin-left: 0.625rem;
}

.pb-2 {
    padding-bottom: 0.625rem;
}

.pt-2 {
    padding-top: 0.625rem;
}

.pl-2 {
    padding-right: 0.625rem;
}

.pr-2 {
    padding-left: 0.625rem;
}

.mb-3 {
    margin-bottom: 0.9375rem;
}

.mt-3 {
    margin-top: 0.9375rem;
}

.ml-3 {
    margin-right: 0.9375rem;
}

.mr-3 {
    margin-left: 0.9375rem;
}

.pb-3 {
    padding-bottom: 0.9375rem;
}

.pt-3 {
    padding-top: 0.9375rem;
}

.pl-3 {
    padding-right: 0.9375rem;
}

.pr-3 {
    padding-left: 0.9375rem;
}

.mb-4 {
    margin-bottom: 1.25rem;
}

.mt-4 {
    margin-top: 1.25rem;
}

.ml-4 {
    margin-right: 1.25rem;
}

.mr-4 {
    margin-left: 1.25rem;
}

.pb-4 {
    padding-bottom: 1.25rem;
}

.pt-4 {
    padding-top: 1.25rem;
}

.pl-4 {
    padding-right: 1.25rem;
}

.pr-4 {
    padding-left: 1.25rem;
}

.mb-5 {
    margin-bottom: 1.5625rem;
}

.mt-5 {
    margin-top: 1.5625rem;
}

.ml-5 {
    margin-right: 1.5625rem;
}

.mr-5 {
    margin-left: 1.5625rem;
}

.pb-5 {
    padding-bottom: 1.5625rem;
}

.pt-5 {
    padding-top: 1.5625rem;
}

.pl-5 {
    padding-right: 1.5625rem;
}

.pr-5 {
    padding-left: 1.5625rem;
}

.mb-6 {
    margin-bottom: 1.875rem;
}

.mt-6 {
    margin-top: 1.875rem;
}

.ml-6 {
    margin-right: 1.875rem;
}

.mr-6 {
    margin-left: 1.875rem;
}

.pb-6 {
    padding-bottom: 1.875rem;
}

.pt-6 {
    padding-top: 1.875rem;
}

.pl-6 {
    padding-right: 1.875rem;
}

.pr-6 {
    padding-left: 1.875rem;
}

.mb-7 {
    margin-bottom: 2.1875rem;
}

.mt-7 {
    margin-top: 2.1875rem;
}

.ml-7 {
    margin-right: 2.1875rem;
}

.mr-7 {
    margin-left: 2.1875rem;
}

.pb-7 {
    padding-bottom: 2.1875rem;
}

.pt-7 {
    padding-top: 2.1875rem;
}

.pl-7 {
    padding-right: 2.1875rem;
}

.pr-7 {
    padding-left: 2.1875rem;
}

.mb-8 {
    margin-bottom: 2.5rem;
}

.mt-8 {
    margin-top: 2.5rem;
}

.ml-8 {
    margin-right: 2.5rem;
}

.mr-8 {
    margin-left: 2.5rem;
}

.pb-8 {
    padding-bottom: 2.5rem;
}

.pt-8 {
    padding-top: 2.5rem;
}

.pl-8 {
    padding-right: 2.5rem;
}

.pr-8 {
    padding-left: 2.5rem;
}

.mb-9 {
    margin-bottom: 2.8125rem;
}

.mt-9 {
    margin-top: 2.8125rem;
}

.ml-9 {
    margin-right: 2.8125rem;
}

.mr-9 {
    margin-left: 2.8125rem;
}

.pb-9 {
    padding-bottom: 2.8125rem;
}

.pt-9 {
    padding-top: 2.8125rem;
}

.pl-9 {
    padding-right: 2.8125rem;
}

.pr-9 {
    padding-left: 2.8125rem;
}

.mb-10 {
    margin-bottom: 3.125rem;
}

.mt-10 {
    margin-top: 3.125rem;
}

.ml-10 {
    margin-right: 3.125rem;
}

.mr-10 {
    margin-left: 3.125rem;
}

.pb-10 {
    padding-bottom: 3.125rem;
}

.pt-10 {
    padding-top: 3.125rem;
}

.pl-10 {
    padding-right: 3.125rem;
}

.pr-10 {
    padding-left: 3.125rem;
}

/* fonts */
.no-margin {
    margin: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

.bold {
    font-weight: bold;
}

.black {
    font-weight: 900;
}

.uppercase {
    text-transform: capitalize;
}

.lvl-3 {
    font-size: 12px;
}

.lvl-2 {
    font-size: 14px;
}

.lvl-3 {
    font-size: 16px;
}

.lvl-3.max-lines-2 {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    height: 48px;
    line-height: 24px;
    /* white-space: nowrap; */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.lvl-4 {
    font-size: 18px;
}

.lvl-5 {
    font-size: 20px;
}

.lvl-6 {
    font-size: 22px;
}

.lvl-heading {
    font-size: 26px;
}

.lvl-bulk {
    font-size: 34px;
    letter-spacing: 2px;
    margin-bottom: 5px;
}

.section {
    padding: 50px 0;
    overflow-x: hidden;
    /* width: 100%; */
}

hr {
    width: 70%;
    margin: auto;
    height: 2px;
}

.bg-cover {
    background-position: center center;
    background-size: cover;
}

.pointer {
    cursor: pointer !important;
}

.flex {
    display: flex;
}

.flex-middle {
    align-items: center;
}

.flex-center {
    justify-content: center;
}

.flex-end {
    justify-content: flex-end;
}

.flex-start {
    justify-content: flex-start;
}

.pull-left {
    float: right;
}

.pull-right {
    float: left;
}

.inline-block {
    display: inline-block;
}

.text-left {
    text-align: right;
}

.text-right {
    text-align: left;
}



/*width & Padding*/

.padding-box-sm {
    padding: 15px;
}

.padding-box-md {
    padding: 15px 30px;
}

.min-150 {
    min-width: 150px;
}

.min-200 {
    min-width: 200px;
}

.max-vh {
    height: 100vh;
}

.max-500 {
    max-width: 500px;
}

.max-600 {
    max-width: 600px;
}

.max-300 {
    max-width: 300px;
}

.max-250 {
    max-width: 250px;
}

.max-350 {
    max-width: 350px;
}

.width-330 {
    width: 330px;
}

.max-700 {
    max-width: 700px;
}

.max-800 {
    max-width: 800px;
}

.max-850 {
    max-width: 850px;
}

.max-900 {
    max-width: 900px;
}

.max-1000 {
    max-width: 1000px;
}

.width-100 {
    width: 100%;
}

.max-center {
    margin-right: auto;
    margin-left: auto;
}

.btn-rounded {
    border-radius: 100px;
}

.home-slider .swiper-slide {
    background-position: center center;
    background-size: cover;
    height: 100vh;
    max-height: 600px;
}

.home-slider .slide-1 {
    background-image: url(../images/slide.jpg);
}

.home-slider .slide-2 {
    background-image: url(../images/slide-2.jpg);
}

.section-home-countdown {
    background-image: url(../images/bg-countdown.jpg);
}

.countdown-container {
    display: inline-block;
    margin-top: 50px;
}

.countdown-container .single-block,
.countdown-container .separator-colon {
    text-align: center;
    display: inline-block;
    float: right;
    margin: 0 10px;
}

.countdown-container .number,
.countdown-container .separator-colon {
    font-size: 8vw;
    line-height: 8vw;
    font-weight: bold;
    opacity: 0.8;
}

.countdown-container .word {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.home-featured-slider,
.sponsors-container {
    padding: 50px;
}

.sponsors-container {
    position: relative;
}

.sponsors-container .swiper-pagination {
    padding-top: 30px;
    right: 0;
}

.sponsors-container .swiper-pagination-bullet {
    margin: 0 5px;
}

.home-featured-slider .swiper-button-next,
.home-featured-slider .swiper-button-prev,
.sponsors-container .swiper-button-next,
.sponsors-container .swiper-button-prev {
    width: 50px;
    height: 100%;
    background-color: #fff;
    background-size: contain;
    background-image: unset;
    outline: 0;
    margin-top: 0 !important;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: #fe5e4e;
}

.sponsors-container .swiper-container {
    margin-left: 50px;
    margin-right: 50px;
}

.sponsors-container .swiper-button-next,
.sponsors-container .swiper-button-prev {
    width: 30px;
    font-size: 50px;
}

.sponsors-container .swiper-button-next,
.sponsors-container .swiper-button-prev {
    background: transparent;
    color: #fff;
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    ;
}

.swiper-pagination-bullet-active {
    background: #fe5e4e;
    border-color: #fe5e4e;
    outline: 0;
}

.sponsors-container .swiper-pagination-bullet-active {
    background: #fff;
    border-color: #fff;
    outline: 0;
}

.home-featured-slider .swiper-button-next {
    left: 0px;
}

.home-featured-slider .swiper-button-prev {
    right: 0px;
}

.home-featured-slider .swiper-slide {
    display: inline-block;
    width: auto;
    padding: 0 10px;
    height: auto;
}

.home-featured-slider img {
    width: 200px;
    height: 280px;
    object-fit: cover;
}

.section-home-sponsors {
    background-image: url(../images/bg-sponsors.jpg)
}

.sponsors-container {
    display: inline-block;
    padding: 50px 0;
}

.sponsors-container .single-sponsor {
    width: 120px;
    height: 120px;
    background: #fff;
    border-radius: 50%;
    padding: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

.sponsors-container .single-sponsor img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
}

.section-site-footer {}

.home-slider .swiper-pagination-bullet {
    background: #fff !important;
}

.home-slider .swiper-slide {
    position: relative;
}

.home-slider .swiper-slide::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 8;
}

.home-slider .slider-content {
    position: relative;
    z-index: 9;
    padding-top: 200px;
}

.logo-title {
    color: #702400;
    padding-right: 15px;
    display: inline-flex;
    margin: 0;
    height: 100%;
}

.site-header {
    position: fixed;
    z-index: 19;
    width: 100%;
    top: 0;
    right: 0;
    padding: 10px 0;
}

.header-content .logo img {
    height: 70px;
    width: auto;
}

.header-content {
    display: inline-block;
    padding: 5px;
    width: 100%;
    background: #fff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.12);
}

.header-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.header-menu li {
    display: inline-block;
    padding: 0 5px;
    font-weight: bold;
    color: #181818;
}

.header-icons {
    text-align: left;
}

.header-icons a {
    margin: 0 5px;
    font-size: 20px;
}

.header-menu-icons-container {
    display: flex;
    align-items: center;
    height: 70px;
}

.news-container {
    padding: 50px 0;
}

.news-details a {
    color: #fe5e4e;
}

.single-news .news-image img {
    width: 100%;
    height: 160px;
    object-fit: cover;
}

.single-news .news-content {
    margin-top: 10px;
    padding: 10px;
    background: #fafafa;
    border: 1px solid #eee;
}

.single-news .news-details span {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    height: 60x;
    line-height: 20px;
    /* white-space: nowrap; */
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.site-footer {
    background-color: #242322;
}

.site-footer .widget-title {
    font-size: 26px;
    text-transform: capitalize !important;
    padding-bottom: 5px;
    border-bottom: 2px solid #898989;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 30px;
}

.footer-links li {
    color: rgba(255, 255, 255, 0.5);
    transition: 0.3s;
    margin-bottom: 25px;
}

.footer-links li:hover {
    color: #fff;
}

.single-contact-box {
    padding-right: 50px;
    background-size: auto 24px;
    background-position: right top;
    background-repeat: no-repeat;
    min-height: 30px;
    font-size: 18px;
    margin-bottom: 25px;
}

.footer-links {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 18px;
}

.site-footer {
    padding-bottom: 0;
}

.bottom-footer {
    margin-top: 30px;
    padding: 15px 0;
    background: rgba(0, 0, 0, 0.3);
}

.show-responsive {
    display: none;
}

.page-title {
    background-image: url(../images/bg-countdown.jpg);
    padding-top: 150px;
    padding-bottom: 50px;
    text-align: center;
    color: #fff;
    background-size: cover;
}

.nav-tabs {
    border-bottom: 0;
}

.nav-tabs .nav-item .nav-link {
    border: 1px solid #eee !important;
    margin: 0 10px;
    border-radius: 100px;
    padding: 4px 30px;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    border-color: #fe5e4e !important;
    background: #fe5e4e;
    color: #fff !important;
}

.single-book {
    border: 1px solid #eee;
    padding: 10px;
    overflow: hidden;
    display: block;
}

.single-book img {
    width: 100%;
    height: 150px;
    object-fit: contain;
    transition: 0.3s;
}

.single-book img:hover {
    transform: scale(1.2)
}

.nav-tabs .nav-item {
    margin-bottom: 15px;
}

.gallery-container a {
    display: block;
    width: 100%;
    height: 150px;
    margin-bottom: 15px;
    overflow: hidden;
}

.gallery-container a img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    transition: 0.6s;
}

.gallery-container a img:hover {
    transform: scale(1.5);
}

.smaller-gaps {
    margin-right: -7px;
    margin-left: -7px;
}

.smaller-gaps [class*="col-"] {
    padding-right: 7px;
    padding-left: 7px;
}

.single-movie {
    width: 100%;
    /* height: 280px; */
    object-fit: cover;
    transition: 0.3s;
}

.single-movie:hover {
    transform: scale(0.95)
}

.tab-title {
    margin-bottom: 30px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e5e5e5;
    font-size: 22px;
    font-weight: bold;
}

.scale-container {
    overflow: hidden;
}

.scale-up {
    transition: 0.3s;
}

.scale-up:hover {
    transform: scale(1.1);
}

.item-has-child {
    position: relative;
}

.item-has-child .child-menu {
    position: absolute;
    top: 25px;
    border: 1px solid #eee;
    left: 0;
    background: #fff;
    padding: 10px;
    display: none;
    transition: 0.6s;
    animation: childMenu 0.3s linear 0s 1 forwards;
}

.item-has-child .child-menu li {
    text-align: right;
    width: 100%;
}

.item-has-child:hover .child-menu {
    display: block;
}

@keyframes childMenu {
    from {
        transform: translateY(30px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.fa-angle-right,
.fa-angle-left {
    transform: rotate(180deg)
}

.sponsors-container .fa-angle-right,
.sponsors-container .fa-angle-left {
    transform: none;
}

.swiper-container,
.swiper-wrapper {
    direction: rtl;
}

.single-video iframe{
    height: 180px !important;  
    width: 100% !important;
  }
  .nav-item.item-has-child .child-menu{
      list-style: none;
      top: 30px;
      border: 0;
      left: 0px;
      width: 100%;
      padding: 0 !important;
      padding-top: 10px !important;
  }
  .nav-item.item-has-child a{
      position: relative;
      z-index: 9;
  }
  .visible {
      overflow: visible;
  }
  .child-menu{
  }
  .child-menu .nav-item a.nav-link, .child-menu .nav-item{
      border: 0 !important;
      padding: 5px 0 !important;
  }
  
  .has-alternative{
      display: none;
  }
  .child-menu-item{
      cursor: pointer;
      font-size: 12px;
      border: 1px solid #eee;
      border-radius: 100px;
      text-align: center;
      padding: 5px;
      margin-bottom: 2px;
      margin-bottom: 5px;
  }
  .child-menu-item.active{
      background-color: #fe5e4e;
      color: #fff;
  }
  .nav-tabs .nav-item .nav-link{
      margin: 0;
  }
  .nav-tabs .nav-item{
      margin-left: 10px;
      margin-right: 10px;
  }
  .number-icon{
    font-size: 120px;
    margin-left: 10px;
    line-height: 100px;
    font-weight: bold ;
    color:#fe5f4f;
}
.gray-line{
    width: 100%;
    height: 10px;
    background-color: #e5e5e5 ;
    margin-top: -10px;;
}