@media (max-width: 991px) {
    .hide-responsive {
        display: none;
    }

    .show-responsive {
        display: initial;
    }

    .menu-active .header-menu-links {
        display: inline-block;
        width: 100%;
        text-align: center;
        position: absolute;
        top: 90px;
        right: 0;
        background: #fff;
        padding: 20px 10px;
        animation: moveUp 0.3s ease-out 0s 1 forwards;

    }

    .menu-active .header-menu-links li {
        width: 100%;
    }

    .header-content {
        position: relative;
    }
    .item-has-child .child-menu{
        position: static;
        background: #fff;
        border: 0;
        padding: 10px;
        display: block;
        animation: unset;
    }
    .item-has-child .child-menu li{
        text-align: center;
    }  
    .item-has-child .child-menu li:before{
        content: ">"
    }
    .nav-item.item-has-child {
        display: block;
        text-align: center;
    }
    .nav-item.item-has-child .child-menu{
        position: static;
        width: auto;
        display: inline-block;
        width: 100%;
    }
    .nav-item.item-has-child a{
        display: inline-block;
    }
    .nav-item.item-has-child .child-menu .child-menu-item{
        display: block !important;
        text-align: center;
        font-size: 16px;
        background: transparent !important;
        color: #333 !important;
        border: 0 !important;
        padding: 4px 30px;
        text-decoration: underline;
    }
}

@media (max-width: 767px) {
    .phone-margin-bottom {
        margin-bottom: 15px;
    }
}

@keyframes moveUp {
    from {
        transform: translateY(30px);
    }

    to {
        transform: translateY(0);
    }
}